<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">
	
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(bid) FROM tbl_member
		WHERE bid = #{id}
	</select>
	
	<insert id="create" parameterType="com.bouquet.domain.member.MemberDTO">
		INSERT INTO tbl_member(bid, bpw, bname, bphone, bemail, bzipcode, baddr1, baddr2)
		VALUES(#{bid}, #{bpw}, #{bname}, #{bphone}, #{bemail}, #{bzipcode}, #{baddr1}, #{baddr2})
	</insert>
	
	<select id="login" parameterType="com.bouquet.domain.member.MemberDTO" resultType="String">
		SELECT bname FROM tbl_member
		WHERE bid = #{bid} AND bpw = #{bpw}
	</select>
</mapper>














