<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="board">

	<!-- 게시글 목록 출력 -->
	<select id="listAll" parameterType="HashMap" resultType="com.bouquet.domain.board.BoardDTO">
		<include refid="paging_header"/>
		SELECT bno, title, content, writer, m.bid, viewcnt, replycnt, goodcnt, b.regdate
		FROM tbl_board b, tbl_member m
		<include refid="search"/>
		<if test="sort_option == 'new'">
			ORDER BY bno DESC
		</if>
		<if test="sort_option == 'good'">
			ORDER BY goodcnt DESC, bno DESC
		</if>
		<if test="sort_option == 'reply'">
			ORDER BY replycnt DESC, bno DESC
		</if>
		<if test="sort_option == 'view'">
			ORDER BY viewcnt DESC, bno DESC
		</if>
		<include refid="paging_footer"/>
	</select>
	
	<sql id="paging_header">
		SELECT *
		FROM (
			SELECT rownum AS rnum, a.*
			FROM (
	</sql>
	
	<sql id="paging_footer">
			) a
		) WHERE rnum BETWEEN #{start} AND #{end}
	</sql>
	
	<sql id="search">
		<choose>
			<when test="search_option != 'all'">
                <if test="search_option == 'title'">
                	WHERE b.writer = m.bid
                	AND title LIKE #{keyword}
                </if>
                <if test="search_option == 'content'">
                	WHERE b.writer = m.bid
                	AND content LIKE #{keyword}
                </if>
                <if test="search_option == 'writer'">
                	WHERE b.writer = m.bid
                	AND writer LIKE #{keyword}
                </if>
			</when>
			<otherwise>
				WHERE b.writer = m.bid
				AND (writer LIKE #{keyword}
					 OR title LIKE #{keyword}
					 OR content LIKE #{keyword} )
			</otherwise>
		</choose>	
	</sql>
	
	<!-- 레코드 개수 계산 -->
	
	<select id="countArticle" parameterType="HashMap" resultType="int">
		SELECT COUNT(*)
		FROM tbl_board b, tbl_member m
		<include refid="search"/>
	</select>
	
	<!-- 상세 게시글 출력 -->
	<select id="read" parameterType="int" resultType="com.bouquet.domain.board.BoardDTO">
		SELECT * FROM tbl_board
		WHERE bno = #{bno}
	</select>
	
	<!-- 조회수 1 증가 -->
	<update id="increaseViewCnt" parameterType="int">
		UPDATE tbl_board
		SET viewcnt = viewcnt + 1
		WHERE bno = #{bno}
	</update>
	
	<!-- 리플 리스트 조회 -->
	<select id="list" parameterType="int" resultType="com.bouquet.domain.board.ReplyDTO">
		SELECT * FROM tbl_reply
		WHERE bno = #{bno}
	</select>
	
	<!-- tbl_board 에 리플 개수 업데이트 하기 -->
	<!-- <update id="replyCntUpdate" parameterType="HashMap">
		UPDATE tbl_board
		SET replycnt = #{replycnt}
		WHERE bno = #{bno}
	</update> -->
	
	<!-- tbl_board 에 리플 개수 업데이트 하기 (동적쿼리) -->
	<update id="updateReplyCnt" parameterType="HashMap">
		UPDATE tbl_board SET
		<if test="flag == 'plus'">
			replycnt = replycnt + 1
		</if>
		<if test="flag == 'minus'">
			replycnt = replycnt - 1
		</if>
		WHERE bno = #{bno}
	</update>	
</mapper>
